// Colores

$color_bg: #FFEDDB;
$color_1: #E9CFEB;
$color_2: #F6B0E0;
$color_3: #FF75BA;
$color_4: #FF5400;


@mixin desktop {
    @media (min-width: 760px) { @content; }
  }

@mixin mobile {
  @media (max-width: 768px) { @content; }
}
@mixin tablet {
  @media (max-width: 992px) { @content; }

}

@mixin animate($animation,$duration,$method,$times){
  animation: $animation $duration $method $times;
}

@mixin keyframes($name){
  @keyframes #{$name}{
      @content;
  }
}