@import 'variables';

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Poppins';
    background-color: $color_bg;
    header {
        .header__container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .header__container--logo {
                img {
                    height: 10rem;
                }
            }
            .header__container--nav {
                a {
                    text-decoration: none;
                    color: black;
                    margin-right: 2rem;
                    transition: all .2s ease-in;
                    &:hover {
                        color: #FF75BA;
                    }
                    
                }
            }
        }
    }
    .nosotras {
        padding-top: 10rem;
        .nosotras__container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .nosotras__container--content {
                display: flex;
                flex-wrap: wrap;
                justify-content: right;
                width: 50%;
                @include mobile {
                    width: 100%;
                }
            }
            .nosotras__container--title {
                font-family: 'Paytone One';
                h1 {
                    font-size: 5.5rem;
                    color: #FF5400;
                    word-spacing: 5px;
                    @include mobile {
                        font-size: 12vw;
                    }
                }
                .equipo {
                    background: black;
                    border-radius: 4rem;
                    padding: 1rem 2rem;
                    text-align: center;
                    display: inline-block;
                    transform: rotate(-5deg);
                    transition: all .2s ease-in;
                    &:hover {
                        transform: rotate(-5deg) scale(1.05);
                    }
                }
                .expo {
                    font-size: 3rem;
                    position: relative;
                    top: -2rem;
                    border-bottom: 5px solid black;
                }
            }
            .nosotras__container--descrip {
                width: 50%;
                margin-top: 3rem;
                p {

                }
            }
            .nosotras__container--img {
                img {
                    height: 25rem;
                }
            }
        }
    }
    .division {
        width: 100%;
        overflow: hidden;

    }
    .servicios {
        padding-top: 5rem;
        .servicios__container {
            display: grid;
            grid-template-columns: 20% 80%;  
            justify-items: center;
            .servicios--title {
                display: grid;
                grid-template-rows: 20rem 20rem 20rem 20rem;
                gap: 4rem;
                .identidad {
                    position: relative;

                    &::after {
                        content: "";
                        position: absolute;
                        height: 10rem;
                        border-left: 5px dashed #E9CFEB;
                        bottom: -7rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -1;
                    }
                }
                .identidad h1 {
                    background-color: #E9CFEB;

                }
                .sitios {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 10rem;
                        border-left: 5px dashed #F6B0E0;
                        bottom: -7rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -1;
                    }
                }
                .sitios h1 {
                    background-color: #F6B0E0;
                }
                .campanas {
                    position: relative;
                    &::after {
                        content: "";
                        position: absolute;
                        height: 10rem;
                        border-left: 5px dashed #FF75BA;;
                        bottom: -7rem;
                        left: 50%;
                        transform: translateX(-50%);
                        z-index: -1;
                    }
                }
                .campanas h1 {
                    background-color: #FF75BA;
                }
                .social h1 {
                    background-color: #FF5400;
                }
                h1 {
                    writing-mode: vertical-rl;
                    text-align: center;
                    border-radius: 4rem;
                    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 10rem;
                    height: 20rem;
                    color: white;
                    font-weight: bold;
                    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13); 
                    transition: all .3s ease-in;
            
                }   
            }
            .servicios--content {
                display: grid;
                grid-template-rows: 20rem 20rem 20rem 20rem;
                align-items: center;
                gap: 4rem;
                .identidad--content {
                    background: rgba(233, 207, 235, 0.6);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10rem;
                    border-left: 20px solid #E9CFEB;
                    border-radius: 2rem;
                    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);

                }
                .sitios--content {
                    background: rgba(246, 176, 224, 0.6);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10rem;
                    border-left: 20px solid #F6B0E0;
                    border-radius: 2rem;
                    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);

                }
                .campanas--content {
                    background: rgba(255, 117, 186, 0.6);
                    height: 100%;
                    display: flex;
                    align-items: center;
                    padding: 10rem;
                    border-left: 20px solid #FF75BA;
                    border-radius: 2rem;
                    box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);

                    
                }
                .social--content {
                        background: rgba(255, 85, 0, 0.6);
                        height: 100%;
                        display: flex;
                        align-items: center;
                        padding: 10rem;
                        border-left: 20px solid #FF5400;
                        border-radius: 2rem;
                        box-shadow: 0px 5px 10px 0px rgb(0 0 0 / 15%);

                }

            }
        }
    }

    .clientes {
        .clientes__container {
            display: grid;
            grid-template-columns: 1fr 1fr;
            @include tablet {
                display: flex;
                flex-direction: column;
                .clientes__container--frase {
                    margin-bottom: 5rem;
                    h1 {
                        text-align: center;
                    }
                }
            }
            .clientes__container--frase {
                display: flex;
                align-items: center;
                padding: 2rem 10rem;
                h1 {
                    font-family: 'Paytone One';
                    font-size: 7rem;
                    .sub {
                        font-size: 3rem;
                        position: relative;
                        top: -3rem;
                        border-bottom: 5px solid $color_4;
                    }
                    .talento {
                        background: $color_3;
                        border-radius: 4rem;
                        padding: 1rem 2rem;
                        text-align: center;
                        display: inline-block;
                        transform: rotate(-5deg);
                        transition: all 0.2s ease-in;
                    
                    }
                }
            }
            .clientes__container--clientes {
                width: 100%;
                .swiper-slide {
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                    grid-template-rows: 1fr 1fr 1fr;
                }
                .swiper-button-next, .swiper-button-prev {
                    color: $color_4;
                }
                .cliente.destacado {
                    background-color: white;
                }

                .cliente {
                    height: 20rem;
                    @include tablet {
                        height: 15rem;
                    }
                    img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                    &:nth-child(1) {
                        background-color: #E9CFEB;
                        border-top-right-radius: 6rem;
                    }
                    &:nth-child(2) {
                        background-color: #FF75BA;
                        border-bottom-right-radius: 6rem;
                    }
                    &:nth-child(3) {
                        background-color: $color_4;
                        border-top-left-radius: 6rem;
                    }
                    &:nth-child(4) {
                        border: 2px solid #F6B0E0;
                        border-bottom-right-radius: 6rem;
                        border-top-left-radius: 6rem;
                    }
                    &:nth-child(5) {
                        background-color: $color_2;
                        border-top-left-radius: 6rem;
                    }
                    &:nth-child(6) {
                        background-color: $color_3;
                        border-bottom-left-radius: 6rem;
                    }
                    &:nth-child(7) {
                        background-color: $color_4;
                        border-top-left-radius: 6rem;
                    }
                    &:nth-child(8) {
                        background-color: $color_1;
                        border-radius: 50%;
                    }
                    &:nth-child(9) {
                        border: 2px solid $color_1;
                        border-top-left-radius: 6rem;
                    }
                    &:nth-child(10) {
                        border: 2px solid $color_1;

                    }
                    &:nth-child(11) {
                        background-color: $color_3;

                    }
                    &:nth-child(12) {
                        background-color: $color_2;
                        border-top-right-radius: 6rem;
                        border-bottom-left-radius: 6rem;
                    }   
                }
            }
        }
    }
}
.contactanos {
    .contactanos__container {
        .contactanos__container--content {
            display: grid;
            grid-template-columns: 50% 50%;
            align-items: center;
            .content--left {
                .title {
                    font-size: 3rem;
                    font-weight: 900;
                }

            }
            .content--right {
                .swiper {
                    .swiper-wrapper {
                        .swiper-slide {
                            display: flex;
                            justify-content: center;
                            img {
                                max-width: 30rem;
                            }

                        }
                    }
                }
            }
        }
    }
}


